main {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

aside {
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/****************************************************************************************************/

.realeses-img {
    width: 23em;
}
